# Git Repo Specific files to exclude
*.log

# Python bytecode
__pycache__
__pycache__/
__pycache__/*
*.pyc
*.pyo

# PyCharm Specific
.idea
.idea/
.idea/*
temp
temp/
temp/*
Learning/GoogleFooBar/Temp
Learning/GoogleFooBar/Temp/
Learning/GoogleFooBar/Temp/*

# Windows Specific Files
.DS_Store
Thumbs.db
desktop.ini

# Other possible files
# *.yml
# *.exe
# *.zip
# *.7z